@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Condensed+One&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");


body {
    margin: 0px;
    padding: 0px;
    height: 600px;
}


header {
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    background-color: #f4a226;
    padding: 1px 0px;
    font-size: 30px;
    text-align: center;
    color: #5a3e2b;
}

.form-container{
    background-color: #e5771f;
    padding: 10px 0px;
    text-align: center;
    color: #5a3e2b;
}

.list {

    height: 200px;
    text-align: center;
    color: white;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
 
  
}

footer {
    background-color: #76c7ad;
    color: #5a3e2b;
    padding: 13px 0px;
    text-align: center;
}

.element {
    margin-left: 15px;
    margin-right: 10px;
    font-weight: bold;
  
}




.btn-delete{
    cursor: pointer;
}
.form-container {
    display: flex; 
    justify-content: center;
    align-items: center;
}
.form-element{

    margin-left: 50px;
}

.form-element select , button , input {
    margin-left: 10px;
    
}

.form-element select , input {
    padding: 6px 15px;
    border-radius: 10px;
    border: transparent;
    background-color: #ffebb3;
    
}

.form-element button {
    background-color: #76c7ad;
    color: #5a3e2b;
    padding: 6px 15px;
    border-radius: 10px;
    border: transparent;
    font-weight: 600;
    cursor: pointer;
    transition: 1s;

}

.form-element button:hover {
    background-color: #29ba8c;

}

.test {
width: 1.5em;
height: 2em;
accent-color:#ffebb3 ;
}

.item-container{
    margin-left: 80px;
    display: flex;
    align-items: center;
    
}


.actions  {
    height: 100px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
   margin-top: 200px;
   text-align: center;
   
}

.container {
  margin-top: 20px;
}

.app{
    background-color: #5a3e2b;
}

.actions select {
    background-color: #ffebb3;
    padding: 7px;
    border-radius: 10px;
    border: transparent;
       cursor: pointer;

}
.actions button {
    background-color: #ffebb3;
        padding: 7px;
         border-radius: 10px;
    border: transparent;
    cursor: pointer;
}